@using MVC5OnlineTicariOtamasyon.Models.Siniflar;
@model List<Departmanlar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div style="margin: 10px 10px 10px 10px">
    <table class="table table-bordered">
        <tr>
            <th>Departman Adı:</th>
            <th>Sil</th>
            <th>Güncelle</th>
            <th>Detaylar</th>
        </tr>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.DepartmanAd</td>
                <td><a href="/Departman/DepartmanSil/@x.DepartmanID" class="btn btn-outline-danger">Sil</a></td>
                <td><a href="/Departman/DepartmanGetir/@x.DepartmanID" class="btn btn-outline-warning">Güncelle</a></td>
                <td><a href="/Departman/DepartmanDetay/@x.DepartmanID" class="btn btn-outline-secondary">Detaylar</a></td>
            </tr>
        }
    </table>
</div>
<div>
    <a href="/Departman/DepartmanEkle" class="btn btn-outline-success" style="margin-left:10px;">Departman Ekle</a>
</div>

