@using MVC5OnlineTicariOtamasyon.Models.Siniflar
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<Kategori>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div style="margin: 10px 10px 10px 10px">
    <table class="table table-bordered">

        <tr>
            <th>Kategori Adı:</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.KategoriAd</td>
                <td><a href="/Kategori/KategoriSil/@x.KategoriID" class="btn btn-outline-danger">Sil</a></td>
                <td><a href="/Kategori/KategoriGetir/@x.KategoriID" class="btn btn-outline-warning">Güncelle</a></td>
            </tr>
        }
    </table>
</div>
<div style="margin-left:15px;">
    @Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }))
</div>
<div>
    <a href="/Kategori/KategoriEkle" class="btn btn-outline-success" style="margin-left:10px;">Kategori Ekle</a>
</div>



